{% import "bootstrap/fixes.html" as fixes %}
{% import "main/submit-head.html" as header %}
{% block head %}
{{fixes.ie8()}}
{{header}}
{%- endblock %}
<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-fau fixed-top">
        <div class="container">
            <a class="navbar-brand" href="reserve.php">Budget Request Form</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="form">Submit form
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="myapps">My apps
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Reserve Request Form</h1>
                <form method="POST" action="/form">
                    <div class="row" style="padding:10px;">
                        <div class="col-lg-12">
                            <div class="form-group">
                                 <h2>Organization: &nbsp;&nbsp;<input type="text" id="Organization" name="orgname" maxlength="30" value="{{form.organization.name}}"></h2>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr>
                    <div class="row" style="padding-top:10px;">
                        <h2>Amount In:</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>Amount: &nbsp;&nbsp;<input type="number" id="amount_in" name="amount_in" value="{{form.amount_in}}" min="0" step="0.01" ></h5>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-blue btn-block" value="update" name="btn">Update Net Revenue/(Expense)</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding-top:10px;">
                        <h2>Amount Out:</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>Amount: &nbsp;&nbsp;<input type="number" id="amount_out" name="amount_out" value="{{form.amount_out}}" min="0" step="0.01" ></h5>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-blue btn-block" value="update" name="btn">Update Net Revenue/(Expense)</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding-top:10px;">
                        <h2>Net Revenue/(Expense):</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Amount: {{form.get_net()}}</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding:20px;">
                        <button class="btn btn-red btn-block" name="btn" value="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>